.container{
    background-color: rgba(0, 153, 255, 0.07);
    border: 2px double rgba(0, 153, 255, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    width:300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}